{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 160,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-attributes"]
}